,*

# for Subversion
.svn

# for Mac
.DS_Store

# for Vim
*~
.vimrc.local
.*.sw?

# for Sabel
*/*sabel.log
cache/*

# for CandyCane
app/Plugin/*
app/webroot/themed/*

# for XOOPS
sess_*
#*/cache/*
*/templates_c/*
/docs
/extras

/html/class
/html/common
/html/core
/html/images
/html/install
/html/language
/html/modules/altsys
/html/modules/legacy
/html/modules/legacyRender
/html/modules/message
/html/modules/profile
/html/modules/protector
/html/modules/stdCache
/html/modules/user
/html/modules/xupdate
/html/preload/disabled
/html/themes/basic5
/html/themes/ktai_default
/html/themes/legacy_default
/html/themes/pack2011_default
/xoops_trust_path/libs
/xoops_trust_path/modules/protector
/xoops_trust_path/modules/xupdate
/xoops_trust_path/PEAR
/xoops_trust_path/uploads/xupdate/*

/html/admin.php
/html/backend.php
/html/banners.php
/html/edituser.php
/html/favicon.ico
/html/footer.php
/html/header.php
/html/image.php
/html/imagemanager.php
/html/include/
/html/index.php
/html/kernel/
/html/lostpass.php
/html/mainfile.dist.php
/html/mainfile.php
/html/misc.php
/html/modules/index.html
/html/notifications.php
/html/pmlite.php
/html/preload/
/html/readpmsg.php
/html/register.php
/html/robots.txt
/html/search.php
/html/themes/
/html/uploads/
/html/user.php
/html/userinfo.php
/html/viewpmsg.php
/html/xoops.css

/xoops_trust_path/.htaccess
/xoops_trust_path/cache/
/xoops_trust_path/class/
/xoops_trust_path/modules/index.html
/xoops_trust_path/settings/
/xoops_trust_path/uploads/

