<div class="af_dmm">
<h1><{$smarty.const._MD_AF_DMM_LANG_LISTS}><{$smarty.const._LIST}></h1>
<ul class="hmenu">
  <li><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname action=edit}>"><{$smarty.const._MD_AF_DMM_LANG_ADD_A_NEW_LISTS}></a></li>
</ul>

<{if count($objects) > 0}>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
  <table class="outer" summary="">
    <thead>
      <tr>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_LISTS_ID}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_LISTS_ID}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_LISTS_ID}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_CATEGORY_ID}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_CATEGORY_ID}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_CATEGORY_ID}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SITE}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SITE}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SITE}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_TITLE}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_TITLE}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_TITLE}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_ID}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_ID}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_ID}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SERVICE_NAME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SERVICE_NAME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SERVICE_NAME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_FLOOR_NAME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_FLOOR_NAME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_FLOOR_NAME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_CATEGORY_NAME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_CATEGORY_NAME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_CATEGORY_NAME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_CONTENT_ID}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_CONTENT_ID}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_CONTENT_ID}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_PRODUCT_ID}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_PRODUCT_ID}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_PRODUCT_ID}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_URL}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_URL}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_URL}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_AFFILIATEURL}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_AFFILIATEURL}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_AFFILIATEURL}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_IMAGEURL_LIST}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_IMAGEURL_LIST}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_IMAGEURL_LIST}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_IMAGEURL_SMALL}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_IMAGEURL_SMALL}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_IMAGEURL_SMALL}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_IMAGEURL_LARGE}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_IMAGEURL_LARGE}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_IMAGEURL_LARGE}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES0}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES0}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES0}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES1}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES1}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES1}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES2}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES2}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES2}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES3}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES3}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES3}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES4}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES4}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES4}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES5}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES5}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES5}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES6}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES6}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES6}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES7}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES7}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES7}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES8}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES8}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES8}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_SAMPLEIMAGES9}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES9}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_SAMPLEIMAGES9}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_PRICE}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_PRICE}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_PRICE}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_LIST_PRICE}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_LIST_PRICE}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_LIST_PRICE}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_DATE}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_DATE}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_DATE}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_ITEMINFO_SERIES_NAME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_ITEMINFO_SERIES_NAME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_ITEMINFO_SERIES_NAME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_ITEMINFO_MAKER_NAME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_ITEMINFO_MAKER_NAME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_ITEMINFO_MAKER_NAME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_AF_DMM_LANG_POSTTIME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.AF_DMM_LISTS_SORT_KEY_POSTTIME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.AF_DMM_LISTS_SORT_KEY_POSTTIME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th><{$smarty.const._MD_AF_DMM_LANG_CONTROL}></th>
      </tr>
    </thead>
    <tbody>
      <{foreach item=obj from=$objects}>
        <tr class="<{cycle values='odd,even'}>">
          <td><{$obj->getShow('lists_id')}></td>
          <td><{assign var=catId value=$obj->getShow('category_id')}><{$mainTitleList.$catId|xoops_escape}></td>
          <td><{$obj->getShow('site')}></td>
          <td><{$obj->getShow('title')}></td>
          <td><{$obj->getShow('id')}></td>
          <td><{$obj->getShow('service_name')}></td>
          <td><{$obj->getShow('floor_name')}></td>
          <td><{$obj->getShow('category_name')}></td>
          <td><{$obj->getShow('content_id')}></td>
          <td><{$obj->getShow('product_id')}></td>
          <td><{$obj->getShow('url')}></td>
          <td><{$obj->getShow('affiliateURL')}></td>
          <td><{$obj->getShow('imageURL_list')}></td>
          <td><{$obj->getShow('imageURL_small')}></td>
          <td><{$obj->getShow('imageURL_large')}></td>
          <td><{$obj->getShow('sampleImageS0')}></td>
          <td><{$obj->getShow('sampleImageS1')}></td>
          <td><{$obj->getShow('sampleImageS2')}></td>
          <td><{$obj->getShow('sampleImageS3')}></td>
          <td><{$obj->getShow('sampleImageS4')}></td>
          <td><{$obj->getShow('sampleImageS5')}></td>
          <td><{$obj->getShow('sampleImageS6')}></td>
          <td><{$obj->getShow('sampleImageS7')}></td>
          <td><{$obj->getShow('sampleImageS8')}></td>
          <td><{$obj->getShow('sampleImageS9')}></td>
          <td><{$obj->getShow('price')}></td>
          <td><{$obj->getShow('list_price')}></td>
          <td><{$obj->getShow('date')|xoops_formattimestamp:m}></td>
          <td><{$obj->getShow('iteminfo_series_name')}></td>
          <td><{$obj->getShow('iteminfo_maker_name')}></td>
          <td><{$obj->getShow('posttime')|xoops_formattimestamp:m}></td>

          <td>
            <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('lists_id') action=view}>"><{$smarty.const._VIEW}></a>
            <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('lists_id') action=edit}>"><{$smarty.const._EDIT}></a>
            <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('lists_id') action=delete}>"><{$smarty.const._DELETE}></a>
          </td>
        </tr>
      <{/foreach}>
    </tbody>
  </table>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<{/if}>
</div>
